@model Logic.Models.Contact

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm("Update", "Contact"))
{
    Html.RenderPartial("Partials/ContactDetails", Model);

    <input type="submit" value="Update" />
}