@model Logic.Models.Phone
@{
    ViewBag.Title = "Delete phone number";
}

<h4>Are you about to delete phone number?</h4>
@Model.Number
<form method="delete" action="~/Phones/Delete/@Model.Id">
    <button type="submit">Delete</button>
</form>