@model Logic.Models.Phone

@{
    ViewBag.Title = "Delete phone number";
}

<h4>Are you about to delete phone number @Model.Number?</h4>

<form method="post" action="/Phones/Delete/@Model">
    <button type="submit">Delete</button>
</form>