@model Logic.Models.Phone
@{
    ViewBag.Title = "Update particular phone number";
}

<h2>Update phone number</h2>

@using (Html.BeginForm("Update", "Phones"))
{
    <input type="hidden" name="ID" />
    <select width="75" name="Type">
        <option value="Home">Home</option>
        <option value="Mobile">Mobile</option>
        <option value="Work">Work</option>
    </select>
    <input type="text" name="Number" />
    <input type="submit" value="Update number" />
}