@model Logic.Models.Phone

@if (Model != null)
{
    <select width="75" name="Type">
        <option value="Home">Home</option>
        <option value="Mobile">Mobile</option>
        <option value="Work">Work</option>
    </select>
    @Html.TextBoxFor(m => m.Number)
    @Html.ValidationMessageFor(model => model.Number)
    <br />
    <br />
}