
@{
    ViewBag.Title = "ControlTable";
}

<h2>ControlTable</h2>

<table>
    <tr>
        <td>Input (Button)</td>
        <td><input type="button" value="Buttton" /></td>       
    </tr>
    <tr>
        <td>Input (Checkbox)</td>
        <td><input type="checkbox" value="Checkbox" /></td>
    </tr>
    <tr>
        <td>Input (File)</td>
        <td><input type="file" value="File" /></td>
    </tr>
    <tr>
        <td>Input (Hidden)</td>
        <td><input type="hidden" value="hidden" /></td>
    </tr>
    <tr>
        <td>Input (Password)</td>
        <td><input type="password" /></td>
    </tr>
    <tr>
        <td>Input (Radio)</td>
        <td><input type="radio" name="rb"/> 1 |<input type="radio" name="rb"/> 2</td>
    </tr>
    <tr>
        <td>Input (Reset)</td>
        <td><input type="reset" value="Reset" /></td>
    </tr>
    <tr>
        <td>Input (Submit)</td>
        <td><input type="submit" value="Submit" /></td>
    </tr>
    <tr>
        <td>Input (Text)</td>
        <td><input type="text" value="Text" /></td>
    </tr>
</table>

