
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "User", FormMethod.Post))
    {
<label>Введите email</label><br />
<input type="email" id="Email" /> <br /><br />
<label>Введите пароль</label><br />
<input type="password" id="Password" /><br /><br />
<button type="submit">Register</button>
    }