<div>
    <input type="submit" id="getItemsButton" value="Получить данные" />
</div>
@section scripts{
    <script type="text/javascript">
$(function () {
        var tokenKey = "tokenInfo";
        //..................................
        $('#getItemsButton').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/api/values/',
                beforeSend: function (xhr) {

                    var token = sessionStorage.getItem(tokenKey);
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function (data) {
                    alert(data);
                },
                fail: function (data) {
                    alert(data);
                }
            });
        });
    })
    </script>
}