@model Logic.Models.Contact

@{
    ViewBag.Title = "Contact details";
}

<h3>Contact details</h3>
<table>
    <tr>
        <td>
            <h3>Name:</h3>
        </td>
        <td>
            @Html.DisplayFor(x => x.Name)
        </td>
    </tr>
    <tr>
        <td>
            <h3>Email:</h3>
        </td>
        <td>
            @Html.DisplayFor(x => x.Email)
        </td>
    </tr>
</table>
<hr />

@{
    Html.RenderPartial("Partials/Phones_with_link", Model.Phones);
}